
main{
    background-color: white;
    display: flex;
    border-radius: 2rem;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}


#join{
    margin-top: 2rem;
}
ul{
    margin-top: 2rem;
}

ul li {
    margin-bottom: 12px;
    margin-left: -10px;
    display: flex;
    align-items: start;
}

ul li::before {
    font-size: 1px;
    content: url('../assets/images/icon-list.svg');
    margin-right: 15px;
}
form{
    display: flex;
    flex-direction: column;
}
form label{
    margin-bottom: 1vh;
}
#labelDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem
}
#errorMessage{
    color: red;
}
form input[type="email"] {
    margin-bottom: 2vh;
    aspect-ratio: 6/1;
    border-radius: 10px;
    border-color:  hsla(231, 7%, 60%,0.5);
    padding-left: 1rem;

}

form input[type="submit"] {
    margin-bottom: 2vh;
    aspect-ratio: 6/1;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: 10px;
}

#submit {
    background: linear-gradient(90deg, hsl(234, 29%, 20%) 0%, hsl(234, 29%, 20%) 100%);
    transition: background 1s ease, box-shadow 1s ease;
    box-shadow: none;
}

#submit:hover {
    background: linear-gradient(90deg, rgba(255,0,112,1) 0%, rgba(255,83,0,1) 100%);
    box-shadow: 1px 1px 1rem rgba(255,83,0,1);
}
#popUp{
    background-color: white;
    display: flex;
    flex-direction: column;
}
#successImg{
    background-image: url('../assets/images/icon-success.svg');
    background-position: center;
    background-repeat: no-repeat;
    max-width: 8vh;
    border-radius: 50%;
    aspect-ratio: 1;
}
#thanks{
    margin-top: 3vh; 
}
#confirmation{
    margin-top: 3vh; 

}
#dismiss{
    margin-bottom: 2vh;
    aspect-ratio: 6/1;
    background-color: hsl(234, 29%, 20%);
    color: white;
    border: none;
    border-radius: 0.5rem;
    transition: background 1s ease, box-shadow 1s ease; /* Transition background-color instead of background */
    box-shadow: none; /* Initial box-shadow value */
}


#dismiss:hover {
 /* Set the same color as the initial state to match */
    background: linear-gradient(90deg, rgba(255,0,112,1) 0%, rgba(255,83,0,1) 100%);
    box-shadow: 1px 1px 1rem rgba(255,83,0,1);
}




@media screen and (max-width: 425px){
        main{
        display: flex;
        flex-direction: column-reverse;
    }
    #img{
        background-image: url('../assets/images/illustration-sign-up-mobile.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        aspect-ratio: 1/0.8;
    }
    #popUp{
        height: 100vh;
        padding: 20vh 5vw 0vh 5vw;
    }
    #dismiss{
        position: relative;
        top: 35vh;
    }
    #newsletter{
        margin-right: 3vw;
        padding: 2vh 8vw ;
    }
    #newsletter h1{
        font-size: 10vw;
    }
    }








@media screen and (min-width: 426px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: hsl(235, 18%, 26%);
    }
    main{
        padding: 2vh 0px;
    }
    #newsletter h1{
        font-size: 3rem;
    }
#img{
    background-image: url('../assets/images/illustration-sign-up-desktop.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
    margin-right: 3vw;
    border-radius: 1rem;
}
#popUp{
    margin: 10vw;
    padding: 8vw;
    border-radius: 2rem;
}
#confirmation{
    margin-bottom: 3vh;
    font-size: 1.2rem;
}
#dismiss{
    font-size: 2vh
}
#newsletter{
    padding: 2vh 3vw ;
    width: 50%;
    margin-right: 4rem;
}
}
